/*
Theme Name: Onegate Theme 2.0
Theme URI: http://underscores.me/
Author: Pedro Pizzo
Author URI: http://onegate.com.br
Description: Version 2.0
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: one
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

onegate_theme is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
#wpadminbar{
  display: none;
}
body{
  font-family: roboto;
  font-size: 16px;
  position: relative;
}
p{
  line-height:170%;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Archivo Black";
}
a.button-black{
  background: black;
  color: #BAD900;
  padding: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: table;
  transition: all 0.3s;
}
a.button-black:hover{
  background: #BAD900;
  color: black;
}
a.right{
  float: right;
}
a.center{
  margin: 0 auto 30px;
}
header#entrepreneur{
  position: fixed;
  background: #fff;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 92px;
}
header#entrepreneur .nav-button{
  margin: 0;
  background: #111;
  font-size: 32px;
  color: #BAD900;
  padding: 13px 30px 10px;
  transition: all 0.4s;
  text-align: center;
  height: 92px;
}
header#entrepreneur .nav-button span{
  font-size: 12px;
}
header#entrepreneur .nav-button:hover{
  background: #eee;
  color: #BAD900;
}
.uk-dropdown-bottom{
  margin-top: 0px;

}
.uk-dropdown{
  width: 300px;
  padding: 10px !important;
  background: #111;
  color: #BAD900;
  transition: all 0.4s;
}
.uk-dropdown::selection{
  background: #eee;
}
.uk-nav-dropdown>li>a{
  color: #BAD900;
  padding: 1px 15px;
}
.uk-nav-dropdown>li>a:hover{
  background: #eee;
  color: #111;
  outline: 0
}
.uk-nav-dropdown .uk-nav-header{
  color: #EEE;
  font-size: 1.1em;
  margin-top: 0px;
}
header#entrepreneur .logo{
  margin-left: 15px;
  width: 140px;
}
header#entrepreneur #admin-call{
  float: right;
  padding: 36px 0;
  font-family: "Archivo Black";
  font-size: 12px;
  text-transform: uppercase
}
header#entrepreneur ul#session{
  float: right;
  list-style: none;
  margin: 0;
}
header#entrepreneur ul#session li{
  float: left;
  /*padding-top: 22px;*/
  /*padding-bottom: 22px;*/
  height: 92px;
  width: 122px;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}
header#entrepreneur ul#session li a{
  text-decoration: none;
  /*padding: 34px 0px 25px;*/
  text-align: center;
  position: relative;
}
header#entrepreneur ul#session li:first-child{
  background: #BAD900;
}
header#entrepreneur ul#session li:first-child a{
  color:black;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#entrepreneur ul#session li:last-child{
  background: #000;
}
header#entrepreneur ul#session li:last-child a{
  color:white;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#entrepreneur ul#session li i{
  font-size: 26px;
}
.entrepreneur{
  margin-top: 90px;
  clear: both;
}
.entrepreneur .banner{
  position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.entrepreneur .banner video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.entrepreneur .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 40%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.entrepreneur .content-out{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 20px 40px;
  color: white;
  text-align: center;
}
@media (max-width:765px) {
  .entrepreneur .banner .content{
    position: absolute;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }

}
.entrepreneur .banner .content p{
  line-height: 140%;
  margin-bottom: 50px;
}
.entrepreneur .content-out p{
  margin-bottom: 35px;
}
.entrepreneur .banner .content a,
.entrepreneur .content-out a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.entrepreneur .banner .content a:hover{
  color: black;
  border: 3px solid #BAD900;
  background: #BAD900;
}
section{
  clear: both;
}
.entrepreneur section.one::before,
.entrepreneur section.video::before,
.entrepreneur section.adv::before,
.entrepreneur section.features::before{
  position: absolute;
  left: -1px;
  top: 40px;
  content: "\f0da";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
}
.entrepreneur section.one::before{ color: #444; }
.entrepreneur section.video::before{ color: #BAD900; }
.entrepreneur section.adv::before { color: #00B2B3; }
.entrepreneur section.features::before{ color: #FF7F00; }
.entrepreneur section.one{
  border-left: 5px solid #333;
  background-image: url("http://core.willgobrasil.com.br/assets/img/one-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35% auto;
  min-height: 530px;
  position: relative;
}
@media (max-width:765px){
  .entrepreneur section.one{
    background-image: none;
  }
}
@media (min-width:1400px){
  .entrepreneur section.one{
    background-size: 25% auto;
  }
}

.entrepreneur section.one h1{
  margin-top: 30px;
  margin-bottom: 5px;
}
.entrepreneur section.one h4{
  margin-top: 0;

  margin-bottom: 20px;
  font-family: roboto;
  text-transform: uppercase;
}
.entrepreneur section.one p{
  line-height: 170%;
  margin-bottom: 10px;
}
.entrepreneur section.one span{
  margin-top: 20px;
}
.entrepreneur section.one a{
  background: black;
  color: #BAD900;
  padding: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: table;
  transition: all 0.3s;
}
.entrepreneur section.one a:hover{
  background: #BAD900;
  color: black;
}
.entrepreneur section.one .image{
  position: relative;
  overflow: hidden;
}
.entrepreneur section.one .image img{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.entrepreneur section.video{
  border-left: 5px solid #B8DD00;
  position: relative;
}
.entrepreneur section.video h1{
  color: #BAD900;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}
@media (max-width: 765px){
  .entrepreneur section.video h1{
    font-size: 1.1em;
  }
}
.entrepreneur section.video img{
  width: 100%;
}
.entrepreneur section.video #call-video .video-embed{
  position: relative;
  padding-bottom: 40.25%;
  height: 0;
  overflow: hidden;
  max-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

	.entrepreneur section.video #call-video .video-embed iframe,
	.entrepreneur section.video #call-video .video-embed object ,
	.entrepreneur section.video #call-video .video-embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
.entrepreneur section.adv{
  border-left: 5px solid #00D9A3;
  background-color: #EEEEEE;
  background-image: url("http://core.willgobrasil.com.br/assets/img/adv-bg.jpg");
  background-position: right;
  background-size: 33%;
  background-repeat: no-repeat;
  padding: 35px 0;
  position: relative;
}
@media (max-width:765px) {
  .entrepreneur section.adv{
    background-image: none;
  }
}
.entrepreneur section.adv h1{
  text-align: center;
}
.entrepreneur section.adv ul{
  list-style: none;
  padding-left: 0;
}
.entrepreneur section.adv li{
  margin: 20px 0 35px;
}
.entrepreneur section.features{
  border-left: 5px solid #FF9326;
  padding: 55px 0 0;
  min-height: 682px;
  position: relative;
}
.entrepreneur section.features .image_field{
  text-align: center;
}
.entrepreneur section.features img.feature_image{
  max-width: 60%;
}
.entrepreneur section.features .uk-width-1-2{
  position: relative;
}
.entrepreneur section.features img.mao{
  position: absolute;
  max-width: 100%;
  bottom: -16px;
}
.entrepreneur section.plans{
  background-color: #EEEEEE;
}
.entrepreneur section.plans h1{
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.entrepreneur section.plans .back{
  background: black;
  width: 100%;
  height: 75px;
  padding: 15px 0;
  text-align: center;
  position: relative;
}
.entrepreneur section.plans ul.menu{
  background-color: black;
  list-style: none;
  position: absolute;
  width: 550px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}
.entrepreneur section.plans ul.menu li{
  float: left;
  width: 110px;
}
.entrepreneur section.plans ul.menu li.uk-active{
  background: url("http://core.willgobrasil.com.br/assets/img/arrow_white_top.png");
  background-position: center bottom;
  background-repeat:no-repeat;
  padding-bottom: 20px;
}
.entrepreneur section.plans ul.menu li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.entrepreneur section.plans ul#plans{
  padding: 30px 0;
}
.entrepreneur section.plans table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.entrepreneur section.plans table th{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 0;
}
.entrepreneur section.plans table td{
  padding: 25px 0;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width:765px) {
  .entrepreneur section.plans ul.menu{
    width: 100%;
  }
  .entrepreneur section.plans ul.menu li{
    transform: scale(0.6);
    width: 20%;
  }
  .entrepreneur section.plans table th{
    font-size: 18px;
  }
  .entrepreneur section.plans table td{
    font-size: 24px;
  }
}
.entrepreneur section#promo{
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0;
}
.entrepreneur section#promo h2{
  color: white;
  padding: 30px 0;
}
.entrepreneur section#promo .info{
  margin-top: 15px;
}
.entrepreneur section#promo .apps_downloads{
  display: inline-block;
}
.entrepreneur section#promo .apps_downloads img{
  float: left;
  padding: 0 5px;
}
.entrepreneur section#promo .save-the-date{
  display: inline-block;
}
.entrepreneur section#promo .save-the-date h2{
  float: left;
  max-width: 30%;
  margin: 5px;
  color: white;
  border: 3px solid white;
  padding: 15px;
  font-size: 2em;
}
.entrepreneur section#promo h5{
  background-color: #FFCB00;
  color: black;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 10px 0;
  font-size: 1.5em;
}
.entrepreneur section.ja-call{
  border-left: 5px solid #00D99E;
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 40px 0 0;
}
.entrepreneur section.ja-call h1{
  color: #00D99E;
}
.entrepreneur section.ja-call .text_place{
  padding: 0 15px;
}
.entrepreneur section.ja-call .icons{
  position: relative;
  height: 300px;
  padding-bottom: 30px;
}
.entrepreneur section.ja-call .icons img{
  position: absolute;
  max-width: 33.33%;
}
.entrepreneur section.ja-call .woman{
  position: relative;
}
.entrepreneur section.ja-call .woman img.back{
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.entrepreneur section.ja-call .woman img.icone{
  position: absolute;
  right: 30px;
  top: 40px;
  animation-name: icon4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.entrepreneur section.ja-call .moto{
  position: relative;
}
.entrepreneur section.ja-call .moto img.ico{
  position: absolute;
  left: 50px;
  top: 60px;
  animation-name: icon5;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.entrepreneur section.ja-call .moto img.back{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.entrepreneur section.ja-call .icons img:nth-child(1){
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation-name: icon1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.entrepreneur section.ja-call .icons img:nth-child(2){
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  animation-name: icon2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.entrepreneur section.ja-call .icons img:nth-child(3){
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  animation-name: icon3;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

/* USER */
header#user{
  position: fixed;
  background: white;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 92px;
}
header#user .uk-button-dropdown{
  float: left;
}
header#user .nav-button{
  margin: 0;
  background: #111;
  font-size: 32px;
  color: #BAD900;
  padding: 13px 30px 10px;
  transition: all 0.4s;
  text-align: center;
}
header#user .nav-button span{
  font-size: 12px;
}
header#user .nav-button:hover{
  background: #eee;
  color: #BAD900;
}
.uk-dropdown-bottom{
  margin-top: 0px;

}
.uk-dropdown{
  width: 300px;
  padding: 30px;
  background: #111;
  color: #BAD900;
  transition: all 0.4s;
}
.uk-dropdown::selection{
  background: #eee;
}
.uk-nav-dropdown>li>a{
  color: #BAD900;
}
.uk-nav-dropdown>li>a:hover{
  background: #eee;
  color: #111;
  outline: 0
}
.uk-nav-dropdown .uk-nav-header{
  color: #EEE;
  font-size: 1.1em;
}
header#user ul#session{
  float: right;
  list-style: none;
  margin: 0;
}
header#user ul#session{
  float: right;
  list-style: none;
  margin: 0;
}
header#user ul#session li{
  float: left;
  /*padding-top: 22px;*/
  /*padding-bottom: 22px;*/
  height: 92px;
  width: 122px;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}
header#user ul#session li a{
  text-decoration: none;
  /*padding: 34px 0px 25px;*/
  text-align: center;
  position: relative;
}
header#user ul#session li:first-child{
  background: #BAD900;
}
header#user ul#session li:first-child a{
  color:black;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#user ul#session li:last-child{
  background: #BAD900;
}
header#user ul#session li:last-child a{
  color:black;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#user ul#session li i{
  font-size: 26px;
}
header#user #admin-call{
  float: right;
  padding: 36px 0;
  font-family: "Archivo Black";
  font-size: 12px;
  text-transform: uppercase
}
header#user .logo{
  width: 140px;
  padding: 25px 0 25px 15px;
  float: left;
}
header#user p{
  float: left;
  padding: 25px 20px;
}
header#user ul#navegation{
  float: right;
  list-style: none;
  padding-left: 0;
  margin-right: 15px;
}
header#user ul#navegation li{
  float: left;
  padding: 21px 13px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
header#user ul#navegation li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  position: relative;
}
header#user ul#navegation li a::before{
  position: absolute;
  left: -10px;
  top: -3px;
  content: "\f0da";
  color: #A6C500;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.user{
  margin-top: 90px;
  clear: both;
}
.user .banner{
  position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.user section.video{
  border-left: 5px solid #B8DD00;
  position: relative;
}
.user section.video h1{
  color: #BAD900;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}
@media (max-width: 765px){
  .user section.video h1{
    font-size: 1.1em;
  }
}
.user section.video img{
  width: 100%;
}
.user section.video #call-video .video-embed{
  position: relative;
  padding-bottom: 40.25%;
  height: 0;
  overflow: hidden;
  max-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

	.user section.video #call-video .video-embed iframe,
	.user section.video #call-video .video-embed object ,
	.user section.video #call-video .video-embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
.user .banner video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.user .banner .content{
  position: absolute;
  border: 3px solid white;
  padding: 20px;
  max-width: 35%;
  color: white;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center;
}
.user .banner .content::before{
  position: absolute;
  left: 0px;
  top: 35px;
  content: "\f0da";
  color: white;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}
@media (max-width:765px) {
  .user .banner .content{
    position: absolute;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }

}
.user .banner .content p{
  line-height: 140%;
  font-size: 2em;
  font-family: "Archivo Black";
}
@media (min-width:0px) and (max-width:540px) {
  .user .banner .content{
    height: auto;
  }
  .user .banner .content p{
    font-size: 1.1em;
  }
}
.user .banner .content a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.user .banner .content a:hover{
  color: black;
  border: 3px solid #BAD900;
  background: #BAD900;
}
.user section.one{
  border-left: 5px solid #A6C500;
  /*background-image: url("http://core.willgobrasil.com.br/assets/img/one-user-bg.png");*/
  background-repeat: no-repeat;
  background-position: right bottom;
  /*background-size: 50%;*/
  min-height: 600px;
  position: relative;
}
.user section.one #cell{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 45%;
  z-index: 10;
}
.user section.one::before,
.user section.adv::before,
.user section.objects::before,
.user section.cancel::before,
.user section.varieties::before,
.user section.promo::before,
.user section.ja::before{
  position: absolute;
  left: -1px;
  top: 40px;
  content: "\f0da";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
}
.user section.one::before{ color: #A6C500; }
.user section.adv::before{ color: #FF2626; }
.user section.objects::before { color: #00B2B3; }
.user section.cancel::before{ color: #FF7F00; }
.user section.varieties::before { color: #4C0066; }
.user section.promo::before{ color: #F9C600;}
.user section.ja::before{ color: #00D99E;}

@media (max-width:765px){
  .user section.one{
    background-image: none;
  }
}
.user section.one h1{
  margin-top: 30px;
  margin-bottom: 5px;
  color: #A6C500;
}
.user section.one p{
  line-height: 170%;
  margin-bottom: 30px;
}
.user section.adv{
  border-left: 5px solid #FF2626;
  background-color: #111;
  background-image: url("http://core.willgobrasil.com.br/assets/img/adv-user-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width:765px) {
  .user section.adv{
  }
}
.user section.adv h1{
  padding-top: 60px;
  color: #FF2626
}
.user section.adv p{
  padding-bottom: 50px;
  color: white;
}
.user section.adv .image_place{
  position: relative;
  height: 520px;
}
.user section.adv .image_place img{
  position: absolute;
  max-width: 70%;
  right: 0;
  bottom: 0;
}
.user section.objects{
  border-left: 5px solid #00B2B3;
  background-color: white;
  position: relative;
  padding-bottom: 20px;
}
@media (max-width:765px) {
  .user section.objects{
  }
}
.user section.objects h1{
  padding-top: 60px;
  color: #00B2B3
}
.user section.objects p{
  padding-bottom: 50px;
  color: #333;
}
.user section.objects .image_place{
  position: relative;
  height: 500px;
}
.user section.objects .image_place img{
  position: absolute;
  max-width:100%;
  right: 0;
  bottom: 0;
}
.user .banner video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.user section.cancel{
  border-left: 5px solid #FF7F00;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width:765px) {
  .user section.cancel{
  }
}
.user section.cancel h1{
  padding-top: 60px;
  color: #FF7F00
}
.user section.cancel p{
  padding-bottom: 50px;
  color: white;
}
.user section.cancel .image_place{
  position: relative;
  height: 520px;
}
.user section.cancel .image_place img{
  position: absolute;
  max-width:70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.user section.varieties{
  border-left: 5px solid #4C0066;
  background-color: white;
  position: relative;
}
@media (max-width:765px) {
  .user section.varieties{
  }
}
.user section.varieties h1{
  padding-top: 60px;
  color: #4C0066;
}
.user section.varieties p{
  padding-bottom: 50px;
  color: #333;
}
.user section.promo{
  border-left: 5px solid #F9C600;
  background-color: #000;
  background-image: url("http://core.willgobrasil.com.br/assets/img/promo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 0;
}
@media (max-width:765px) {
  .user section.promo{
  }
}
.user section.promo h1{
  color: #F9C600
}
.user section.promo p{
  color: white;
}
.user section.promo .image_place{
  text-align: center;
}
.user section.promo .image_place img{
  padding-bottom: 25px;
}

.user section.plans{
  background-color: #EEEEEE;
}
.user section.plans h1{
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.user section.plans .back{
  background: black;
  width: 100%;
  height: 75px;
  padding: 15px 0;
  text-align: center;
  position: relative;
}
.user section.plans ul.menu{
  background-color: black;
  list-style: none;
  position: absolute;
  width: 550px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}
.user section.plans ul.menu li{
  float: left;
  width: 110px;
}
.user section.plans ul.menu li.uk-active{
  background: url("http://core.willgobrasil.com.br/assets/img/arrow_white_top.png");
  background-position: center bottom;
  background-repeat:no-repeat;
  padding-bottom: 20px;
}
.user section.plans ul.menu li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.user section.plans ul#plans{
  padding: 30px 0;
}
.user section.plans table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.user section.plans table th{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 0;
}
.user section.plans table td{
  padding: 25px 0;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width:765px) {
  .user section.plans ul.menu{
    width: 100%;
  }
  .user section.plans ul.menu li{
    transform: scale(0.6);
    width: 20%;
  }
  .user section.plans table th{
    font-size: 18px;
  }
  .user section.plans table td{
    font-size: 24px;
  }
}

.user section.ja-call{
  border-left: 5px solid #00D99E;
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 40px 0 0;
}
.user section.ja-call h1{
  color: #00D99E;
}
.user section.ja-call .text_place{
  padding: 0 15px;
}
.user section.ja-call .icons{
  position: relative;
  height: 300px;
  padding-bottom: 30px;
}
.user section.ja-call .icons img{
  position: absolute;
  max-width: 33.33%;
}
.user section.ja-call .woman{
  position: relative;
}
.user section.ja-call .woman img.back{
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.user section.ja-call .woman img.icone{
  position: absolute;
  right: 30px;
  top: 40px;
  animation-name: icon4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.user section.ja-call .moto{
  position: relative;
}
.user section.ja-call .moto img.ico{
  position: absolute;
  left: 50px;
  top: 60px;
  animation-name: icon5;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.user section.ja-call .moto img.back{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.user section.ja-call .icons img:nth-child(1){
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation-name: icon1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.user section.ja-call .icons img:nth-child(2){
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  animation-name: icon2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.user section.ja-call .icons img:nth-child(3){
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  animation-name: icon3;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

/* JÁ */
header#ja{
  position: fixed;
  background: white;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 92px;
}
header#ja .uk-button-dropdown{
  float: left;
}
header#ja .nav-button{
  margin: 0;
  background: #111;
  font-size: 32px;
  color: #BAD900;
  padding: 13px 30px 10px;
  transition: all 0.4s;
  text-align: center;
}
header#ja .nav-button span{
  font-size: 12px;
}
header#ja .nav-button:hover{
  background: #eee;
  color: #BAD900;
}
.uk-dropdown-bottom{
  margin-top: 0px;

}
.uk-dropdown{
  width: 300px;
  padding: 30px;
  background: #111;
  color: #BAD900;
  transition: all 0.4s;
}
.uk-dropdown::selection{
  background: #eee;
}
.uk-nav-dropdown>li>a{
  color: #BAD900;
}
.uk-nav-dropdown>li>a:hover{
  background: #eee;
  color: #111;
  outline: 0
}
.uk-nav-dropdown .uk-nav-header{
  color: #EEE;
  font-size: 1.1em;
}
header#ja ul#session{
  float: right;
  list-style: none;
  margin: 0;
}
header#ja ul#session{
  float: right;
  list-style: none;
  margin: 0;
}
header#ja ul#session li{
  float: left;
  /*padding-top: 22px;*/
  /*padding-bottom: 22px;*/
  height: 92px;
  width: 122px;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}
header#ja ul#session li a{
  text-decoration: none;
  /*padding: 34px 0px 25px;*/
  text-align: center;
  position: relative;
}
header#ja ul#session li:first-child{
  background: #BAD900;
}
header#ja ul#session li:first-child a{
  color:black;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#ja ul#session li:last-child{
  background: #BAD900;
}
header#ja ul#session li:last-child a{
  color:black;
  height: 92px;
  width: 122px;
  padding-top: 22px;
  display: block;
  text-decoration: none;
}
header#ja ul#session li i{
  font-size: 26px;
}
header#ja #admin-call{
  float: right;
  padding: 36px 0;
  font-family: "Archivo Black";
  font-size: 12px;
  text-transform: uppercase
}
header#ja .logo{
  width: 140px;
  padding: 25px 0 25px 15px;
  float: left;
}
header#ja p{
  float: left;
  padding: 25px 20px;
}
header#ja ul#navegation{
  float: right;
  list-style: none;
  padding-left: 0;
  margin-right: 15px;
}
header#ja ul#navegation li{
  float: left;
  padding: 21px 13px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
header#ja ul#navegation li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  position: relative;
}
header#ja ul#navegation li a::before{
  position: absolute;
  left: -10px;
  top: -3px;
  content: "\f0da";
  color: #A6C500;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.ja .cadastro-btn{
  background: black;
  color: #BAD900;
  padding: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
}
.ja .cadastro-btn:hover{
  background: #BAD900;
  color: black;
}
.ja{
  margin-top: 90px;
  clear: both;
}
.ja .banner{
  position: relative;
	padding-bottom: 54.15%;
	height: 0;
	overflow: hidden;
  margin: 0;
	max-width: 100%;
	height: auto;
}
.ja .banner video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ja .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 40%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width:765px) {
  .ja .banner .content{
    position: absolute;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }

}
.ja .banner .content p{
  line-height: 140%;
  margin-bottom: 50px;
}
.ja .banner .content a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.ja .banner .content a:hover{
  color: black;
  border: 3px solid #BAD900;
  background: #BAD900;
}
section{
  clear: both;
}
.ja section.about{
  background-color: #00E1A0;
  background-image: url("http://core.willgobrasil.com.br/assets/img/about-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.ja section.about .moto{
  position: absolute;
  bottom: 10px;
  right: 0;
  max-width: 15%;
}
.ja section.about .image-field{
  position: relative;
  float: left;
  min-height: 500px;
  margin-top: 50px;
}
.ja section.about .image-field img{
  position: absolute;
  max-height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.ja section.about .text-field{
  padding: 150px 100px;
}
.ja section.about .image-field-small{
  text-align: center;
}
.ja section.about .image-field-small img{
  max-width: 90%;
}
.ja section.about .text-field-small{
  text-align: center;
  margin: 30px 0;
}
.ja section.video{
  position: relative;
}
.ja section.video h1{
  color: #BAD900;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}
@media (max-width: 765px){
  .ja section.video h1{
    font-size: 1.1em;
  }
}
.ja section.video img{
  width: 100%;
}
.ja section.video #call-video .video-embed{
  position: relative;
  padding-bottom: 40.25%;
  height: 0;
  overflow: hidden;
  max-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

	.ja section.video #call-video .video-embed iframe,
	.ja section.video #call-video .video-embed object ,
	.ja section.video #call-video .video-embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
.ja section.same_day{
  color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.ja section.same_day h3{color: #fff;}
.ja section.same_day .btn{
  color: #fff;
  background: #45C0CA;
  padding: 1px 30px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 40px;
}
.ja section.para_voce{
  background: white;
  text-align: center;
  padding-top: 30px;
  position: relative;
}
.ja section.para_voce .text-field{
  padding: 30px 0 220px;
}
.ja section.para_voce .image-field1,
.ja section.para_voce .image-field2{
  position: relative;
}
.ja section.para_voce .image-field1 img{
  position: absolute;
  max-height: 90%;
  max-width: 95%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}
.ja section.para_voce .image-field2 img{
  position: absolute;
  max-height: 80%;
  max-width: 95%;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
}
@media (max-width:420px){
  .ja section.para_voce .text-field{
    padding: 30px 0;
  }
  .ja section.para_voce .image-field2 img{
    position: relative;
  }
}
.ja section.para_suaempresa{
  background-color: #1DB2CD;
  background-image: url("http://core.willgobrasil.com.br/assets/img/empresa-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 55px 0;
}
.ja section.suas_compras{
  position: relative;
}
.ja section.suas_compras .image-field1{
  position: relative;
}
.ja section.suas_compras .image-field1 img{
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 10px;
}
.ja section.suas_compras .text-field{
  padding-bottom: 350px;
  padding-top: 50px;
}
.ja section.suas_compras .image-field2 img{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 300px;
}
@media (max-width:420px){
  .ja section.suas_compras .text-field{
    padding: 30px 0;
  }
  .ja section.suas_compras .image-field2 img{
    position: relative;
    height: auto;
  }
}
.ja section.ja-call{
  background-image: url(http://core.willgobrasil.com.br/assets/img/jadelivery-bg.jpg);
  background-color: #FFD439;
  background-repeat: repeat-x;
  position: relative;
  text-align: center;
  padding: 40px 0 0;
}
.ja section.ja-call .text_place{
  padding: 0 15px;
}
.ja section.ja-call .icons{
  position: relative;
  height: 300px;
  padding-bottom: 30px;
}
.ja section.ja-call .icons img{
  position: absolute;
  max-width: 33.33%;
}
.ja section.ja-call .woman{
  position: relative;
}
.ja section.ja-call .woman img.back{
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.ja section.ja-call .woman img.icone{
  position: absolute;
  right: 30px;
  top: 40px;
  animation-name: icon4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.ja section.ja-call .moto{
  position: relative;
}
.ja section.ja-call .moto img.ico{
  position: absolute;
  left: 50px;
  top: 60px;
  animation-name: icon5;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.ja section.ja-call .moto img.back{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.ja section.ja-call .icons img:nth-child(1){
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation-name: icon1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.ja section.ja-call .icons img:nth-child(2){
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  animation-name: icon2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.ja section.ja-call .icons img:nth-child(3){
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  animation-name: icon3;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

/* EVENTO PERFEITO */
.evento{
  margin-top: 90px;
  clear: both;
}
.evento .evento .formulario{
  background: #EFEFE9;
}
 /* ASSESSORIA */
.assessoria{
  margin-top: 90px;
  clear: both;
  background: url(http://core.willgobrasil.com.br/assets/img/assessoria/background.jpg) #47B5B5;
  background-size: cover;
  background-position: center;
  padding: 70px 0 120px;
  color: white;
}

/* PARCEIROS */
.parceiros {
  margin-top: 65px;
  clear: both;
  background: url(http://core.willgobrasil.com.br/assets/img/parceiro/background.jpg) #eee;
  background-repeat: no-repeat;
  background-size: 100%;;
  background-position: top center;
  padding: 70px 0 0px;
  color: white;
}
.parceiros h1.title{
  text-align: center;
  color: #AED500;
}
.parceiros .hands{
  position: relative;
  padding-bottom: 50%;
}
.parceiros .about{
  background-color: #eee;
  color: #212121;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.parceiros .about h1{
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
}
.parceiros .hands img{
  position: absolute;
  width: 100%;
}
.parceiros .list{
  background-color: white;
  color: #212121;
}
.parceiros .list a{
  text-decoration: none;
}
.parceiros .list a:hover{
  color: #444;
}
.uk-subnav-pill>.uk-active>*{
  background: #A5CF00;
}
.parceiros .list h1{
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 25px;
}
.parceiros .list .single{
  margin-top: 15px;
  margin-bottom: 45px;
}
.parceiros .list .img-field{
  position: relative;
  overflow: hidden;
}
.parceiros .list .img-field img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}
.parceiros .list .content a{
  color: #A5CF00;
  text-decoration: none;
}


/*-------------------------------------------------
Locais
-------------------------------------------------*/
.locais{
  padding-top: 92px;
}
.locais h1{
  color: #a5cf00;
  background-color: #111111;
  text-align: center;
  padding: 30px 15px;
  margin: 0;
}
.locais .map{
  position: relative;
}
.locais .acf-map {
  width: 100%;
  height: 70vh;
  /* border: #ccc solid 1px; */
}
.locais .acf-map img {
   max-width: inherit !important;
}
.locais .information{
  color: white;
  position: absolute;
  z-index: 200;
  bottom: 15px;
  right: 55px;
}
.locais div.gmnoprint{
  display: none !important;
}

/*-------------------------------------------------
ANIMATIONS
-------------------------------------------------*/
@keyframes icon1 {
    0% {top: 50%;}
    50% {top: 70%;}
    75% {top: 30%;}
    100% {top: 50%;}
}
@keyframes icon2 {
    0% {top: 30%;}
    25% {top: 50%;}
    50% {top: 20%;}
    75% {top: 50%;}
    100% {top: 30%;}
}
@keyframes icon3 {
    0% {top: 60%;}
    25% {top: 70%;}
    50% {top: 60%;}
    75% {top: 40%;}
    100% {top: 60%;}
}
@keyframes icon4 {
    0% {top: 40px;}
    50% {top: 60px;}
    75% {top: 35px;}
    100% {top: 40px;}
}
@keyframes icon5 {
    0% {top: 60px;}
    50% {top: 70px;}
    75% {top: 35px;}
    100% {top: 60px;}
}


.downloads{
  background: #F9F9F9;
  padding-top: 92px;
}
.downloads h3{
  color: #B7DB2C;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 2em;
  text-transform: uppercase;
}
.downloads .card{
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  /*padding: 2rem 2rem 1rem;*/
  margin: 0 auto 2rem;
  position: relative;
  border: 1px solid #e8e8e8
}
.downloads a{
  display: block;
  border-radius: 6px;
  text-align: center;
  padding: 25px;
  font-size: 1.3em;
  color: #2B2A29;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .downloads a{
    font-size: 0.5em;
    letter-spacing: normal;
  }
}
.downloads img.app{
  max-width: 200px;
  width: 80%;
  display: inline-block;
}
.downloads img.ga{
  max-width: 220px;
  width: 80%;
  display: inline-block;
}
.downloads span.name{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.downloads span.info{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-size: 0.6em;
  font-weight: 200;
  letter-spacing: 0;
}
.downloads .red{
  color: #E61F34 !important;
}

footer{
  padding: 35px 0;
}
footer .logo{
  width: 140px;
}
footer p small{
  font-size: 12px;
}
footer small{
  font-size: 10px;
}
footer .brand{
  text-align: center;
}
footer ul.menu{
  list-style: none;
  padding-left: 30px;
}
footer ul.menu li::before{
  content: ".";
  color: transparent;
  background: url("http://core.willgobrasil.com.br/assets/img/arrow_footer.png");
  background-repeat: no-repeat;
  background-position: center left;
  margin-right: 5px;
}
footer ul.menu li{
  padding-top: 6px;
  font-size: 14px;
}
footer ul.menu li a{
  text-decoration: none;
  color: #333;
}
footer .app{
  text-align: center;
  padding: 35px 0;
}
footer .app img{
  max-width: 40%;
}
#suport{
  position: fixed;
  right: 0;
  z-index: 1000;
  top: 135px;
}
/* */
.uk-slidenav-position .uk-slidenav-next{
  right: 2px;
}
.uk-slidenav-position .uk-slidenav-previous{
  left: 2px;
}
.uk-slidenav-contrast{
  color: rgba(0, 0, 0, 0.8);;
}
.uk-slidenav-contrast:hover{
  color: black;
}
.uk-slidenav-position .uk-slidenav{
  top: 75%;
  display: inline-block;
}


/*HOME SPLASH*/
.home-page{
  height: 100vh;
  width: 100%;
  position: relative;
}
.home-page #choice-entrepreneur,
.home-page #choice-user{
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  display: block;
  float: left;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: #333;
  font-family: "Archivo Black";
  text-decoration: center;
  overflow: hidden;
  transition: 0.4s all;
  background-position: center;
}
.home-page #choice-entrepreneur:hover,
.home-page #choice-user:hover{
  background-size: 120%;
}

.home-page #choice-entrepreneur{
  background-color: #B9DB00;
  /*background-image: url("http://core.willgobrasil.com.br/assets/img/splash/entrepreneur-bg.png");*/
  border-right: 3px solid white;
}
.home-page #choice-entrepreneur:hover{
  background-color: #DAEC7A;
}
.home-page #choice-user{
  background-color: #00B384;
  /*background-image: url("http://core.willgobrasil.com.br/assets/img/splash/user-bg.png");*/
  border-left: 3px solid white;
}
.home-page #choice-user:hover{
  background-color: #7AD7BF;
}
.home-page #choice-entrepreneur img.background,
.home-page #choice-user img.background{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .1s all;
}
.home-page #choice-entrepreneur:hover img.background,
.home-page #choice-user:hover img.background{
  transform: translate(-50%,-50%)  scale(1.3)
}

.home-page #choice-entrepreneur img.ilustradedservice,
.home-page #choice-user img.ilustradedservice{
  position: absolute;
  max-width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-page #logo{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 275px;
  max-width: 35%;
  background-color: white;
  border-radius: 100%;
  z-index: 200;
}
@media (max-width:1200px) {
  .home-page #logo{
    top: 10%;
  }
}
.home-page .text{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 230%;
  font-size: 16px;
  border-bottom: 1px solid #333;
}
.home-page .text small{
  display: inline;
}
.home-page .text strong{
  display: inline;
  font-size: 2em;
  margin-top: 5px;
  text-transform: uppercase;
}
@media (min-width:0px) and (max-width:765px) {
  .home-page .text{
    top: 50%;
    font-size: 6px;
  }
}

.assessoria{
  back
}


.franquia{
  margin-top: 90px;
  clear: both;
}
.franquia .banner{
  position: relative;
	padding-bottom: 39.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.franquia .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 40%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.franquia .banner .content a,
.franquia .content-out a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.franquia .content-out{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 20px 40px;
  color: white;
  text-align: center;
}
@media (max-width:765px) {
  .franquia .banner .content{
    position: relative;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}
.franquia .sobre{
  margin-top: 100px;
}
@media (max-width:765px) {
  .franquia .sobre{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.franquia .sobre img{
  max-width: 80%;
}
.franquia .sobre h1{
  margin-bottom: 60px;
}
.franquia .mercado{
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}
.franquia .mercado h1{
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.franquia .conceito{
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}
.franquia .conceito h1{
  text-align: center;
}
.franquia .conceito img{
  margin-top: 20px;
  margin-bottom: 15px;
}
.franquia .suporte{
  background-position: center right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #F5F5F5;
  padding-top: 6%;
  padding-bottom: 6%;
}
.franquia .suporte h1{
  margin-bottom: 25px;
}
@media (max-width:765px) {
  .franquia .suporte{
    background-image: none !important;
    background-color: #F5F5F5;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .franquia .suporte h1{
    text-align: center;
  }
}
.franquia .diferenciais{
  padding-top: 75px;
  padding-bottom: 75px;
}
.franquia .diferenciais h1{
  text-align: center;
  margin-bottom: 45px;
}
.franquia .check li{
  position: relative;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.franquia .check li:after{
  content: ".";
  background-image: url('assets/img/check.png');
  width: 17px;
  height: 18px;
  color: transparent;
  position: absolute;
  left: 25px;
  top: 5px;
}
.franquia .banner-bottom{
  position: relative;
  padding-bottom: 52.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.franquia .formulario{
  padding: 30px 0;
}
.franquia .formulario h1{
  text-align: center;
}
.franquia label{
  padding-top: 12px !important;
  margin-bottom: -20px;
  display: block;
}
.franquia .formulario h4{
  margin-top: 15px;
}
.franquia .news{
  text-align: center;
}
.franquia .news h1{
  margin-bottom: 45px;
}
.franquia .news img{
  border-radius: 4px;
}
.franquia .news a.btn{
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  background-color: black;
  color: #B2D302;
  text-decoration: none;
  padding: 10px;
}



.cargo{
  margin-top: 90px;
  clear: both;
}
#ja .logo-cargo{
  margin-left: 15px;
  margin-top: 10px;
  width: 140px;
}
.cargo .banner{
  position: relative;
	padding-bottom: 39.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.cargo .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 35%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.cargo .banner .content a,
.cargo .content-out a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.cargo .content-out{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 20px 40px;
  color: white;
  text-align: center;
}

@media (max-width:765px) {
  .cargo .banner .content{
    position: relative;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}
.cargo #beneficios{
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}
.cargo #beneficios img{
  margin-top: 20px;
  margin-bottom: 15px;
}
.cargo ul.check{
  list-style: none;
  padding-left: 0;
}
.cargo .check li{
  position: relative;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.cargo .check li:after{
  content: ".";
  background-image: url('assets/img/check.png');
  width: 17px;
  height: 18px;
  color: transparent;
  position: absolute;
  left: 25px;
  top: 5px;
}
.cargo #para_voce{
  background-position: right;
  background-color: #FFFFFF;
  background-size: auto 100%;
  padding-top: 7%;
  padding-bottom: 10%;
  background-repeat: no-repeat;
}
@media (max-width:765px) {
  .cargo #para_voce{
    background-image: none !important;
    background-color: #eee;
  }
}
.cargo #sua_empresa{
  background-position: center left;
  background-size: auto 75%;
  padding-top: 7%;
  padding-bottom: 10%;
  background-repeat: no-repeat;
}
@media (max-width:765px) {
  .cargo #sua_empresa{
    background-image: none !important;
  }
}
.cargo .banner-delivery{
  position: relative;
	padding-bottom: 50.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.cargo .banner-delivery .content{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 40px;
  max-width: 35%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.cargo .banner-delivery .content a,
.cargo .content-out a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.cargo .content-out-delivery{
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 20px 40px;
  color: #444;
  text-align: center;
}
@media (max-width:765px) {
  .cargo .content{
    position: relative;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}
.cargo section.plans{
}
.cargo section.plans h1{
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.cargo section.plans .back{
  background: black;
  width: 100%;
  height: 107px;
  padding: 15px 0;
  text-align: center;
  position: relative;
}
.cargo section.plans ul.menu{
  background-color: black;
  list-style: none;
  position: absolute;
  width: 620px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}
.cargo section.plans ul.menu li{
  float: left;
  margin: 0 10px;
  width: 135px;
}
.cargo section.plans ul.menu li small{
  font-size: 65%;
}
.cargo section.plans ul.menu li.uk-active{
  background: url("http://core.willgobrasil.com.br/assets/img/arrow_white_top.png");
  background-position: center bottom;
  background-repeat:no-repeat;
  padding-bottom: 20px;
}
.cargo section.plans ul.menu li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.cargo section.plans ul#plans{
  padding: 30px 0;
}
.cargo section.plans ul.tax{
  text-align: center;
  margin-top: 25px;
  list-style: none;
  padding-left: 0;
}
.cargo section.plans ul.tax li{
  background-color: #B3D102;
  padding-left: 0;
  max-width: 33%;
  float: left;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  position: relative;
  margin-right: 10px;
}
.cargo section.plans ul.tax li span{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.cargo section.plans ul.tax li span h4{
  text-transform: uppercase;
  margin: 0;
}
.cargo section.plans ul.tax li span p{
  font-weight: bold;
  font-size: 200%;
  margin: 5px;
}
.cargo .cadastro-btn{
  background: black;
  color: #BAD900;
  padding: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
}
.cargo .cadastro-btn:hover{
  background: #BAD900;
  color: black;
}
@media (max-width:1024px) {
  .cargo section.plans ul.tax li{
    width: 190px;
    height: 190px;
    margin-right: 3px;
  }
}
@media (max-width:480px) {
  .cargo section.plans ul.menu{
    width: 100%;
  }
  .cargo section.plans ul.menu li{
    transform: scale(0.7);
    width: 25%;
    margin: 0;
  }
  .cargo section.plans ul.tax li{
    width: 100px;
    height: 100px;
    margin-right: 3px;
  }
  .cargo section.plans ul.tax li span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  .cargo section.plans ul.tax li span h4{
    font-size: 10px;
  }
  .cargo section.plans ul.tax li span p{
    font-weight: bold;
    font-size: 100%;
    margin: 5px;
  }
}


.corporate{
  margin-top: 90px;
  clear: both;
}
.corporate .banner{
  position: relative;
	padding-bottom: 39.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.corporate .banner .content{
  position: absolute;
  border: 3px solid #fff;
  padding: 20px;
  max-width: 35%;
  color: #fff;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center
}
.corporate .banner .content p{
  font-size: 1.7em;
}
.corporate .banner .content p strong{
  font-size: 120%;
}
.corporate .banner .content a,
.corporate .content-out a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
corporate .content-out{
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 20px 40px;
  color: white;
  text-align: center;
}

@media (max-width:765px) {
  .corporate .banner .content{
    position: relative;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}
.corporate #como-funciona{
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
}
.corporate #como-funciona h1{
  margin-bottom: 45px;
}
.corporate #como-funciona h3{
  margin-top: 17px;
  margin-bottom: 17px;
}
.corporate #despesas{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}
.corporate #despesas h1{
  color: white;
  margin-bottom: 70px;
}
.corporate #despesas h3{
  color: #BAD900;
  margin-bottom: 15px;
}
.corporate #despesas li{
  margin-bottom: 30px;
}
.corporate #seguranca{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.corporate #seguranca h1{
  margin-bottom: 30px;
}
.corporate #seguranca li{
  margin-bottom: 30px;
}
.corporate #banner-footer{
  padding-bottom: 35%;
  background-size: cover;
}

/* INPUTs */
.evento .formulario{
  padding: 30px 0;
}
.evento .formulario input:not([type]),
.evento .formulario input[type=text],
.evento .formulario input[type=password],
.evento .formulario input[type=email],
.evento .formulario input[type=url],
.evento .formulario input[type=search],
.evento .formulario input[type=tel],
.evento .formulario input[type=number],
.evento .formulario input[type=datetime],
.evento .formulario input[type=datetime-local],
.evento .formulario input[type=date],
.evento .formulario input[type=month],
.evento .formulario input[type=time],
.evento .formulario input[type=week],
.evento .formulario input[type=color],
.evento .formulario select,
.evento .formulario textarea,
.franquia .formulario input:not([type]),
.franquia .formulario input[type=text],
.franquia .formulario input[type=password],
.franquia .formulario input[type=email],
.franquia .formulario input[type=url],
.franquia .formulario input[type=search],
.franquia .formulario input[type=tel],
.franquia .formulario input[type=number],
.franquia .formulario input[type=datetime],
.franquia .formulario input[type=datetime-local],
.franquia .formulario input[type=date],
.franquia .formulario input[type=month],
.franquia .formulario input[type=time],
.franquia .formulario input[type=week],
.franquia .formulario input[type=color],
.franquia .formulario select,
.franquia .formulario textarea,
.corporate .formulario input:not([type]),
.corporate .formulario input[type=text],
.corporate .formulario input[type=password],
.corporate .formulario input[type=email],
.corporate .formulario input[type=url],
.corporate .formulario input[type=search],
.corporate .formulario input[type=tel],
.corporate .formulario input[type=number],
.corporate .formulario input[type=datetime],
.corporate .formulario input[type=datetime-local],
.corporate .formulario input[type=date],
.corporate .formulario input[type=month],
.corporate .formulario input[type=time],
.corporate .formulario input[type=week],
.corporate .formulario input[type=color],
.corporate .formulario select,
.corporate .formulario textarea{
	width: 100%;
  max-width: 100%;
  padding: 12px 6px;
  border: 1px solid #ABA7A2;
  background: #fff;
  color: #212121;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}
.evento .formulario input[type=submit],
.franquia .formulario input[type=submit],
.corporate .formulario input[type=submit]{
	padding: 15px 30px;
	margin: 15px 0;
	background-color: black;
	color: white;
	text-transform: uppercase;
  font-family: "Archivo Black";
  font-size: 1.2em;
	border: none;
	cursor: pointer;
	transition: 0.2s all;
}

.assessoria .formulario input:not([type]),
.assessoria .formulario input[type=text],
.assessoria .formulario input[type=password],
.assessoria .formulario input[type=email],
.assessoria .formulario input[type=url],
.assessoria .formulario input[type=search],
.assessoria .formulario input[type=tel],
.assessoria .formulario input[type=number],
.assessoria .formulario input[type=datetime],
.assessoria .formulario input[type=datetime-local],
.assessoria .formulario input[type=date],
.assessoria .formulario input[type=month],
.assessoria .formulario input[type=time],
.assessoria .formulario input[type=week],
.assessoria .formulario input[type=color],
.assessoria .formulario select,
.assessoria .formulario textarea{
	width: 100%;
  max-width: 100%;
  padding: 12px 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}
.assessoria .formulario textarea{
  height: 163px;
}
.assessoria .formulario input[type=submit]{
	padding: 20px 35px;
	margin: 35px 0 50px;
	background-color: black;
	color: white;
	text-transform: uppercase;
  font-family: "Archivo Black";
  font-size: 1.2em;
	border: none;
	cursor: pointer;
	transition: 0.2s all;
}

.evento .formulario{
  padding: 30px 0;
}
.parceiros .formulario{
  padding: 30px 0;
  background-image: url('http://core.willgobrasil.com.br/assets/img/background-parceirias-form.jpg');
  background-position: center;
  background-size: cover;
}
.parceiros .formulario input:not([type]),
.parceiros .formulario input[type=text],
.parceiros .formulario input[type=password],
.parceiros .formulario input[type=email],
.parceiros .formulario input[type=url],
.parceiros .formulario input[type=search],
.parceiros .formulario input[type=tel],
.parceiros .formulario input[type=number],
.parceiros .formulario input[type=datetime],
.parceiros .formulario input[type=datetime-local],
.parceiros .formulario input[type=date],
.parceiros .formulario input[type=month],
.parceiros .formulario input[type=time],
.parceiros .formulario input[type=week],
.parceiros .formulario input[type=color],
.parceiros .formulario select,
.parceiros .formulario textarea{
	width: 100%;
  max-width: 100%;
  padding: 12px 6px;
  border: 1px solid #212121;
  background: #fff;
  color: #212121;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}
.parceiros .formulario textarea{
  min-height: 281px;
}
.parceiros .formulario input[type=submit]{
	padding: 15px 30px;
	margin: 15px 0;
	background-color: black;
	color: white;
	text-transform: uppercase;
  font-family: "Archivo Black";
  font-size: 1.2em;
	border: none;
	cursor: pointer;
	transition: 0.2s all;
}


.ativacao{
  background-color: #002627;
  color: white;
  min-height: 80vh;
}
.ativacao img.logo{
  position: absolute;
  top: 29px;
  left: 10%;
  width: 140px;
  z-index: 2
}
.ativacao .header{
  width: 100%;
  height: auto;
  padding-bottom: 38%;

  position: relative;
  overflow: hidden;
}
@media (max-width: 768px){
  .ativacao .header{
    padding: 0;
    height: 50vh;
  }
}
.ativacao .header img{
  position: absolute;
  min-width: 100%;
  max-width: initial;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.ativacao .info{
  /*padding-bottom: 140px;*/
  padding-top: 0;
  margin-top: -200px;
  position: relative;
  z-index: 2;
}
.ativacao h1{
  color: white;
  font-family: roboto;
}
.ativacao .btn_green{
  border: 1px solid #BFE100;
  color: #BFE100;
  background-color: transparent;
  padding: 15px 30px;
  text-transform: uppercase;
  margin: 10px;
  transition: 0.4s all;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  font-size: 150%;
}
.ativacao .btn_green:hover{
  color: #002627;
  background-color: #BFE100;
  text-decoration: none;
}
.ativacao .formulario input:not([type]),
.ativacao .formulario input[type=text],
.ativacao .formulario input[type=password],
.ativacao .formulario input[type=email],
.ativacao .formulario input[type=url],
.ativacao .formulario input[type=search],
.ativacao .formulario input[type=tel],
.ativacao .formulario input[type=number],
.ativacao .formulario input[type=datetime],
.ativacao .formulario input[type=datetime-local],
.ativacao .formulario input[type=date],
.ativacao .formulario input[type=month],
.ativacao .formulario input[type=time],
.ativacao .formulario input[type=week],
.ativacao .formulario input[type=color],
.ativacao .formulario select,
.ativacao .formulario textarea{
	width: 100%;
  max-width: 100%;
  padding: 12px 6px;
  border: 1px solid #E0E1E1;
  background: transparent;
  color: white;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}
.ativacao .formulario textarea{
  min-height: 281px;
}

.ambassador{
  margin-top: 90px;
  clear: both;
}
.ambassador .banner{
  color: white;
  padding-top: 7%;
  padding-bottom: 7%;
  background-position: center;
}
.ambassador .banner h1{
  color: white;
  margin-bottom: 20px;
}
.ambassador .banner a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 100px;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
}
.ambassador .call1{
  padding-top: 7%;
  padding-bottom: 7%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.ambassador .call1 h1{
  margin-bottom: 50px;
}

.ambassador .call2{
  padding-top: 7%;
  padding-bottom: 10%;
  background-position: right center;
  background-repeat: no-repeat;
}
.ambassador .call2 h1{
  margin-bottom: 50px;
}

.ambassador .call3{
  padding-top: 7%;
  padding-bottom: 7%;
  background-position: left center;
  background-repeat: no-repeat;
}
.ambassador .call3 h1{
  margin-bottom: 50px;
}
@media (max-width:480px){
  .ambassador .call2,
  .ambassador .call1{
    background: none !important;
  }

}

.ambassador #depoimentos{
  padding-top: 7%;
  padding-bottom: 7%;
  background-image: url('assets/img/bg_depoimentos.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
.ambassador #depoimentos p{
  font-size: 80%;
}
.ambassador #depoimentos h1{
  color: white;
  text-align: center;
}
.ambassador #depoimentos h4{
  color: white;
  margin-top: 2px;
  font-size: 80%;
  margin-bottom: 0px;
}
.ambassador #depoimentos .uk-slidenav-position .uk-slidenav-previous{
  left: -65px;
  color: white;
}
.ambassador #depoimentos .uk-slidenav-position .uk-slidenav-next{
  right: -65px;
  color: white;
}
@media (max-width:768px){
  .ambassador #depoimentos .uk-slidenav-position .uk-slidenav-previous{
    left: -20px;
    color: rgba(255, 255, 255, 0.2);
  }
  .ambassador #depoimentos .uk-slidenav-position .uk-slidenav-next{
    right: -20px;
    color: rgba(255, 255, 255, 0.2);
  }
}
.ambassador .uk-dotnav{
  margin-top: 30px;
  margin-bottom: 0;
}
.ambassador .uk-dotnav>*>*{
  background: white;
  width: 10px;
  height: 10px;
}
.ambassador .uk-dotnav>.uk-active>*{
  background: #BBD72C;
  width: 10px;
  height: 10px;
}
.ambassador #respostas{
  padding-top: 5%;
  padding-bottom: 3%;
}
.ambassador #respostas li{
  margin-top: 20px;
  margin-bottom: 20px;
}
.ambassador #respostas h1{
  text-align: center;
  margin-bottom: 35px;
}
.ambassador #respostas h2{
  margin-bottom: 15px;
}
.ambassador #respostas p{
  margin-bottom: 25px;
}
.ambassador .formulario{
  background: #FCFCFC;
  padding-top: 5%;
  padding-bottom: 5%;
}
.ambassador .formulario h1{
  text-align: center;
}


.ambassador .btn_green{
  border: 1px solid #BFE100;
  color: #002627;
  background-color: #BFE100;
  padding: 15px 30px;
  text-transform: uppercase;
  margin: 10px;
  transition: 0.4s all;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  font-size: 100%;
}
.ambassador .btn_green:hover{
  color: #002627;
  background-color: white;
  text-decoration: none;
}
.ambassador .formulario input:not([type]),
.ambassador .formulario input[type=text],
.ambassador .formulario input[type=password],
.ambassador .formulario input[type=email],
.ambassador .formulario input[type=url],
.ambassador .formulario input[type=search],
.ambassador .formulario input[type=tel],
.ambassador .formulario input[type=number],
.ambassador .formulario input[type=datetime],
.ambassador .formulario input[type=datetime-local],
.ambassador .formulario input[type=date],
.ambassador .formulario input[type=month],
.ambassador .formulario input[type=time],
.ambassador .formulario input[type=week],
.ambassador .formulario input[type=color],
.ambassador .formulario select,
.ambassador .formulario textarea{
	width: 100%;
  padding: 12px 6px;
  border: 1px solid #B1AEAA;
  background-color: white;
  color: black;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  position: relative;
}
.ambassador .formulario select{
  height: 44px;
}

.plans{
  margin-top: 90px;
  clear: both;
}
.plans h1.title{
  background: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
.plans .banner{
  color: white;
  padding-bottom: 43%;
  background-position: center;
}
.plans .adv{
  background-image: url(assets/img/carro-bg.png);
  padding-bottom: 360px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 25px;
}
@media (max-width:480px){
  .plans .adv{
    background-image: none;
    padding-bottom: 50px;
  }
}
.plans .adv h1,
.plans .videos h1{
  margin-bottom: 25px;
  text-align: center;
}
.plans .videos{
  margin-bottom: 25px;
}
.plans .perspectiva img{
  width: 100%;
  margin-top: 30px;
}
.plans .cadastro-btn{
  background: black;
  color: #BAD900;
  padding: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
}
.plans .cadastro-btn:hover{
  background: #BAD900;
  color: black;
}


.workatwillgo{
  padding-top: 90px;
}
.workatwillgo .banner{
  position: relative;
	padding-bottom: 40%;
	height: 0;
	overflow: hidden;
  margin: 0;
	max-width: 100%;
	height: auto;
  margin-bottom: 30px;
}
.workatwillgo .banner img{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.workatwillgo .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 40%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width:765px) {
  .workatwillgo .banner .content{
    position: absolute;
    top:117px;
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
  }

}
.workatwillgo .banner .content p{
  line-height: 140%;
  margin-bottom: 10px;
}
.workatwillgo .banner .content a{
  color: #BAD900;
  border: 3px solid #BAD900;
  padding: 14px;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.workatwillgo .banner .content a:hover{
  color: black;
  border: 3px solid #BAD900;
  background: #BAD900;
}
.workatwillgo .career{
  position: relative;
  padding-bottom: 65px;
  margin-bottom: 30px;
}
.workatwillgo .career h2{
  margin-top: 10px;
  margin-bottom: 0;
}
.workatwillgo .career h5{
  margin: 4px 0;
}
.workatwillgo .absolute-padding{
  position: absolute;
  bottom: -25px;
  margin: 0;
  width: 100%;
}
.workatwillgo .career a.btn,
.workatwillgo a.inscrever-button{
  background: black;
  color: #BAD900;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
}
.workatwillgo .career a.btn:hover,
.workatwillgo a.inscrever-button{
  background: #BAD900;
  color: black;
}
.workatwillgo input:not([type]),
.workatwillgo input[type=text],
.workatwillgo input[type=password],
.workatwillgo input[type=email],
.workatwillgo input[type=url],
.workatwillgo input[type=search],
.workatwillgo input[type=tel],
.workatwillgo input[type=number],
.workatwillgo input[type=datetime],
.workatwillgo input[type=datetime-local],
.workatwillgo input[type=date],
.workatwillgo input[type=month],
.workatwillgo input[type=time],
.workatwillgo input[type=week],
.workatwillgo input[type=color],
.workatwillgo select,
.workatwillgo textarea{
	width: 100%;
  padding: 12px 6px;
  border: 1px solid #B1AEAA;
  background-color: white;
  color: black;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  position: relative;
}
.workatwillgo select{
  height: 44px;
}
.workatwillgo label{
  margin-top: 5px;
  display: inline-block;
}
.workatwillgo input[type=submit]{
  background: black;
  color: #BAD900;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
  border: none;
  margin: 10px 0 5px;
}
.workatwillgo input[type=submit]:hover{
  background: #BAD900;
  color: black;
}
.workatwillgo .page-header{
  margin-top: 25px;
}
.workatwillgo h1{margin: 5px 0;}
.workatwillgo a{color:black;}
.workatwillgo em{color:#222;}

.escolar{
  padding-top: 90px;
}
.escolar .banner{
  position: relative;
	padding-bottom: 45%;
	height: 0;
	overflow: hidden;
  margin: 0;
	max-width: 100%;
	height: auto;
}
.escolar .banner img{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  max-width: none;
	height: 100%;
}
.escolar .banner .content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  max-width: 40%;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width:765px) {
  .escolar .banner .content{
    position: absolute;
    /*top:0;*/
    padding: 10px;
    left: 0;
    max-width: 100%;
    height: 100%;
    text-align: center;
  }

}
.escolar .banner .content p{
  line-height: 140%;
  margin-bottom: 10px;
}
.escolar .banner .content h2{
  color: white;
}
.escolar a.btn{
  color: black;
  /*border: 3px solid #BAD900;*/
  background: #BAD900;
  padding: 14px;
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 100%;
  text-transform: uppercase;
  transition: all 0.4s;
  display: inline-block;

}
.escolar a.btn:hover{
  color: #BAD900;
  /*border: 3px solid #BAD900;*/
  background: black;
}

.escolar .call{
  background-color: #FF8000;
  padding-top: 55px;
  padding-bottom: 55px;
  margin: 0;
}
.escolar .call h2{
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.escolar .call2{
  padding-bottom: 60px;
}
.escolar .call2 img{
  margin-bottom: 30px;
  width: 100%;
}

.escolar .call3{
  background-color: #5C4A65;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}
.escolar .call3 h2{
  color: white;
}

.escolar .about{
  padding-top: 60px;
  padding-bottom: 60px;
}
.escolar .mensalidadecall{
  background-size: cover;
  background-position: center;
}
.escolar .mensalidadecall h2{
  margin-top: 60px;
  margin-bottom: 45px;
}
.escolar .mensalidadecall .circle_value{
  background-color: black;
  width: 1px;
  height: 1px;
  padding: 35%;
  border-radius: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 60px;
}
.escolar .mensalidadecall .circle_value > .content{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.escolar .mensalidadecall .circle_value > .content p{
  margin: 0;
}
.escolar .mensalidadecall .circle_value > .content h3{
  color: #B9DB00;
  margin: 0;
  padding: 0;
  font-size: 45px;
}

.escolar .treinamento{
  margin-top: 60px;
  margin-bottom: 60px;
}
.escolar .treinamento h2{
  text-align: center;
  margin-bottom: 30px;
}
.escolar .formulario{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
}
.escolar .formulario h2{
  color: white;
}
.escolar input:not([type]),
.escolar input[type=text],
.escolar input[type=password],
.escolar input[type=email],
.escolar input[type=url],
.escolar input[type=search],
.escolar input[type=tel],
.escolar input[type=number],
.escolar input[type=datetime],
.escolar input[type=datetime-local],
.escolar input[type=date],
.escolar input[type=month],
.escolar input[type=time],
.escolar input[type=week],
.escolar input[type=color],
.escolar select,
.escolar textarea{
	width: 100%;
  padding: 12px 6px;
  border: 2px solid #B1AEAA;
  background-color: transparent;
  color: white;
  font-size: 100%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin: 10px 0 5px;
  box-sizing: border-box;
  position: relative;
}
.escolar select{
  height: 44px;
}
.escolar label{
  margin-top: 5px;
  display: inline-block;
}
.escolar input[type=submit]{
  background: #BAD900;
  color: black;
  padding: 10px;
  display: inline-block;
  font-size: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo Black";
  display: inline-block;
  transition: all 0.3s;
  border: none;
  margin: 10px 0 5px;
}
.escolar input[type=submit]:hover{
  background: #BAD900;
  color: black;
}
