@font-face {
    font-family: 'clarendon';
    src: url('clarendon_black_bt-webfont.eot');
    src: url('clarendon_black_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('clarendon_black_bt-webfont.woff2') format('woff2'),
         url('clarendon_black_bt-webfont.woff') format('woff'),
         url('clarendon_black_bt-webfont.ttf') format('truetype'),
         url('clarendon_black_bt-webfont.svg#clarendon_blk_btblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol';
    src: url('bariol_regular-webfont.eot');
    src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_regular-webfont.woff2') format('woff2'),
         url('bariol_regular-webfont.woff') format('woff'),
         url('bariol_regular-webfont.ttf') format('truetype'),
         url('bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
